{% extends 'basic.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
  <section class="page-title parallax-section portfolio-item-head small-section">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="{% static 'images/bg-image-49.jpg' %}" alt="">
            </div>
          </div>
          <div class="parallax-overlay"></div>
        </div>
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="title text-center">
                    <h1>О нас</h1>
                    <h4>текст</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title text-center">
                <h6 class="colored-text">Introduction</h6>
                <h2>We are a full service<br>digital agency.</h2>
              </div>
              <div class="section-content text-center">
                <p class="fw-300 font-20">Non beatae libero vel facere, voluptate exercitationem, ratione eaque nesciunt dolor placeat fugit et dignissimos, quisquam, sint accusamus. Ducimus labore harum inventore.</p>
              </div>
            </div>
          </div>
          <div class="row pt-25 pb-25">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-sm-4">
                  <div class="icon-box boxed-style align-center" data-animation="zoomOut">
                    <div class="animated-icon colored" data-icon="{% static 'images/icons/display.svg' %}"></div>
                    <div class="ib-content">
                      <h4>Smart Design</h4>
                      <p>Donec vestibulum velit a dolor volutpat ornare. Mauris in turpis est. Vivamus tempus lorem nec.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="icon-box boxed-style align-center" data-animation="zoomOut" data-delay="300">
                    <div class="animated-icon colored" data-icon="{% static 'images/icons/paintroller.svg' %}"></div>
                    <div class="ib-content">
                      <h4>Retina Ready</h4>
                      <p>Donec vestibulum velit a dolor volutpat ornare. Mauris in turpis est. Vivamus tempus lorem nec.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="icon-box boxed-style align-center" data-animation="zoomOut" data-delay="600">
                    <div class="animated-icon colored" data-icon="{% static 'images/icons/pencil-ruler-pen.svg' %}"></div>
                    <div class="ib-content">
                      <h4>Responsive Grid</h4>
                      <p>Donec vestibulum velit a dolor volutpat ornare. Mauris in turpis est. Vivamus tempus lorem nec.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="split-section">
        <div class="side-background">
          <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder">
              <img class="bg-img" src="{% static 'images/bg-image-41.jpg' %}" alt="">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="col-md-5 col-sm-7">
            <ul class="nav nav-tabs minimal-tabs cols-3">
              <li class="active"><a href="#tab-1" data-toggle="tab"><span>Mission</span></a>
              </li>
              <li><a href="#tab-2" data-toggle="tab"><span>Customers</span></a>
              </li>
              <li><a href="#tab-3" data-toggle="tab"><span>Ideas</span></a>
              </li>
            </ul>
            <div class="tab-content pt-25 pb-25">
              <div class="tab-pane fade active in" id="tab-1">
                <p>Expedita minima fugiat ea maiores itaque natus animi officia iure deleniti unde, facilis velit optio! Culpa quis neque tempora deleniti assumenda aperiam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt neque porro quia quidem saepe assumenda asperiores quo ratione ipsam nulla quisquam.</p>
                <p class="mt-25"><a class="btn btn-bordered upper" href="#">Read More</a>
                </p>
              </div>
              <div class="tab-pane fade" id="tab-2">
                <p>Itaque omnis tenetur placeat facere mollitia molestias, doloribus pariatur sapiente qui hic laboriosam aut accusamus repellat ab perspiciatis commodi voluptates.</p>
                <p>Amet reiciendis natus dolorem nisi iusto vel laudantium quisquam tenetur, saepe rem ducimus, harum possimus delectus ex neque numquam officia! Dolore, ut?</p>
                <p class="mt-25"><a class="btn btn-bordered upper" href="#">Read More</a>
                </p>
              </div>
              <div class="tab-pane fade" id="tab-3">
                <p>Eligendi dolorem repellat, officiis nobis. Itaque repudiandae, eligendi totam nihil aliquid, vitae quos cum minus nulla autem, in? Temporibus, accusantium.</p>
                <p>Iusto et omnis vel, ex illo rem qui provident sed deserunt deleniti voluptatem, labore. Quia modi dignissimos, dicta sapiente aspernatur, consectetur veritatis.</p>
                <p class="mt-25"><a class="btn btn-bordered upper" href="#">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="split-section">
        <div class="side-background">
          <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder">
              <img class="bg-img" src="{% static 'images/bg-image-42.jpg' %}" alt="">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
            <div class="title">
              <h2>Our Skills</h2>
              <h4>Voluptatibus tenetur, impedit omnis quos.</h4>
            </div>
            <div class="section-content">
              <div class="skill">
                <h5 class="skill-name">Development<span class="skill-perc">90%</span></h5>
                <div class="progress">
                  <div class="progress-bar colored" role="progressbar" data-progress="90"></div>
                </div>
              </div>
              <div class="skill">
                <h5 class="skill-name">Product Design<span class="skill-perc">80%</span></h5>
                <div class="progress">
                  <div class="progress-bar colored" role="progressbar" data-progress="80"></div>
                </div>
              </div>
              <div class="skill">
                <h5 class="skill-name">Web Marketing<span class="skill-perc">95%</span></h5>
                <div class="progress">
                  <div class="progress-bar colored" role="progressbar" data-progress="95"></div>
                </div>
              </div>
              <div class="skill">
                <h5 class="skill-name">Illustration<span class="skill-perc">85%</span></h5>
                <div class="progress">
                  <div class="progress-bar colored" role="progressbar" data-progress="85"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="grey-bg">
        <div class="container">
          <div class="title text-center">
            <h2>Creative Team</h2>
            <h4>We are digital thinkers</h4>
          </div>
          <div class="section-content pt-25 pb-25">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp">
                  <div class="team-image">
                    <img src="{% static 'images/team-1.jpg' %}" alt="">
                  </div>
                  <div class="team-overlay">
                    <div class="team-info">
                      <h4>Luke Cage</h4><span>Founder & CEO</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="300">
                  <div class="team-image">
                    <img src="{% static 'images/team-2.jpg' %}" alt="">
                  </div>
                  <div class="team-overlay">
                    <div class="team-info">
                      <h4>Jessica Jones</h4><span>Product Designer</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="600">
                  <div class="team-image">
                    <img src="{% static 'images/team-3.jpg' %}" alt="">
                  </div>
                  <div class="team-overlay">
                    <div class="team-info">
                      <h4>Matt Murdock</h4><span>Lead Developer</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="900">
                  <div class="team-image">
                    <img src="{% static 'images/team-4.jpg' %}" alt="">
                  </div>
                  <div class="team-overlay">
                    <div class="team-info">
                      <h4>Claire Temple</h4><span>Sales Manager</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pt-100 pb-100">
        <div class="container">
          <div class="row">
            <div class="client-carousel carousel" data-slick="{&quot;slidesToShow&quot;: 6, &quot;dots&quot;: false}">
              <div class="carousel-item">
                <figure>
                  <img src="{% static 'images/client-1.png' %}" alt="">
                </figure>
              </div>
              <div class="carousel-item">
                <figure>
                  <img src="{% static 'images/client-1.png' %}" alt="">
                </figure>
              </div>
              <div class="carousel-item">
                <figure>
                  <img src="{% static 'images/client-1.png' %}" alt="">
                </figure>
              </div>
              <div class="carousel-item">
                <figure>
                  <img src="{% static 'images/client-1.png' %}" alt="">
                </figure>
              </div>
              <div class="carousel-item">
                <figure>
                  <img src="{% static 'images/client-1.png' %}" alt="">
                </figure>
              </div>
              <div class="carousel-item">
                <figure>
                  <img src="{% static 'images/client-1.png' %}" alt="">
                </figure>
              </div>
              <div class="carousel-item">
                <figure>
                  <img src="{% static 'images/client-1.png' %}" alt="">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}