<div id="callback_form">
    <section  class="last-section">

        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="title">
                    <h4>Напишите нам</h4>
                    <h2 >Остались вопросы?</h2>

                </div>
                <div class="row pt-25 pb-25">
                    <div class="container-fluid">
                        <form id="contact-form" action="http://themes.hody.co/html/bezel/mail.php" method="POST">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 form-group animated fadeInRight" data-animation="fadeInRight">
                                    <label>Ваше имя</label>
                                    <input class="form-control" type="text" name="name" data-required="" >
                                </div>
                                <div class="col-md-6 col-sm-12 form-group animated fadeInRight" data-animation="fadeInRight">
                                    <label>Компания</label>
                                    <input class="form-control" type="email" name="email" data-required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 form-group animated fadeInRight" data-animation="fadeInRight">
                                    <label>Адрес электронной почты</label>
                                    <input class="form-control" type="text" name="name" data-required="">
                                </div>
                                <div class="col-md-6 col-sm-12 form-group animated fadeInRight" data-animation="fadeInRight">
                                    <label>Телефон</label>
                                    <input class="form-control" type="email" name="email" data-required="">
                                </div>
                            </div>


                            <div class="form-group animated fadeInRight" data-animation="fadeInRight">
                                <label>Сообщение</label>
                                <textarea class="form-control" name="message" data-required=""></textarea>
                            </div>
                            <div class="form-group mt-25 animated fadeInRight pull-right" data-animation="fadeInRight">
                                <button class="btn btn-dark upper no-radius btn-lg btn-full mb-20" type="submit">Перезвоните мне</button>
                                <button class="btn btn-dark-out upper no-radius btn-lg btn-full mm0" type="submit">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

