{% extends 'basic.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
 <section  class="page-title parallax-section portfolio-item-head ">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="{% static 'images/bg-image-49.jpg' %}" alt="">
            </div>
          </div>
          <div class="parallax-overlay"></div>
        </div>
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="title text-center">
                    <h1>Контакты</h1>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

     <section class="p-0">
        <div class="container-fluid">
          <div class="row row-flex">
            <div class="col-sm-4">
              <div class="column-inner with-padding">
                <div class="icon-box align-center"><i class="hc-pin"></i>
                  <div class="ib-content">
                    <h3>Наш Офис</h3>
                    <p>Россошанская ул.,1
                      <br>Москва, Россия</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="column-inner with-padding grey-bg">
                <div class="icon-box align-center"><i class="hc-mail-open"></i>
                  <div class="ib-content">
                    <h3>Наша Почта</h3>
                    <p>info@webtouch.studio</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="column-inner with-padding dark-bg">
                <div class="icon-box align-center"><i class="hc-megaphone"></i>
                  <div class="ib-content">
                    <h3>Наш телефон</h3>
                    <p>+79252309605
                      <br>WhatsApp\Телефон, с 8:00 до 22:00</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     <div class="row">
            <div class="col-md-12 ">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6f3c27a22f25c9f458862481e3d9e098fc72515da61a7bc2719eff1c9a4e1714&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
     </div>
      {% include 'pages/callback_form.html' %}


{% endblock %}