{% extends 'basic.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
    <section class="page-title parallax-section portfolio-item-head">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="{{ portfolioItem.detailImage.url }}" alt="">
            </div>
          </div>
          <div class="parallax-overlay"></div>
        </div>
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="title text-center">
                    <h1>{{ portfolioItem.name }}</h1>
                    <h4>{{ portfolioItem.shortDescription }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <div class="case-info grey-bg">
    <div class="container project-status">
        <div>
          <p> <i class="hc-calendar"></i>Сроки :&nbsp; {{ portfolioItem.date }}</p>
        </div>
        <div><p><i class="hc-star"></i>Фильтр :&nbsp; {{ portfolioItem.filter.name }}</p></div>
        <div><p><i class="hc-world"></i>Сайт :&nbsp; <a href="{{ portfolioItem.url }}">{{ portfolioItem.linkText }}</a></p></div>
        <div><p> <i class="hc-build"></i>Статус проекта :&nbsp;  {{ portfolioItem.status.name }}</p></div>



    </div>
    </div>
    <section>
        <div class="container">
          <div class="title text-center">
            <h6></h6>
          </div>
          <div class="row pt-25 pb-25">
            <div class="photo-gallery masonry-style">
                {% for image in images %}
              <div class="gallery-item">
                <a href="{{ image.image.url }}">
                  <img src="{{ image.image.url }}" alt="{{ portfolioItem.name }}">
                  <div class="gallery-overlay"></div>
                </a>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </section>


      <section class="grey-bg">
        <div class="container">
          <div class="title text-center">
            <h6></h6>
          </div>
           <div class="row pt-25 pb-25">
               <div class="col-md-6 ">
              <div class="title">
                <h6></h6>
              </div>
              <ul class="accordion nav" data-open-first="true">
                <li class="active">
                  <div class="accordion-title">
                    <h4>Описание кейса</h4>
                  </div>
                  <div class="accordion-content">
                      {{ portfolioItem.description | safe}}
                  </div>
                </li>
                <li>
                  <div class="accordion-title">
                    <h4>Требования к сайту</h4>
                  </div>
                  <div class="accordion-content">
                      {{ portfolioItem.wishes | safe }}
                  </div>
                </li>
                <li>
                  <div class="accordion-title">
                    <h4>Реализованные решения</h4>
                  </div>
                  <div class="accordion-content">
                      {{ portfolioItem.technical | safe}}
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-6 ">
              <div class="skill">
                <h5 class="skill-name">BackEnd<span class="skill-perc">{{ portfolioItem.progressBarBackEnd }}%</span></h5>
                <div class="progress">
                  <div class="progress-bar colored" role="progressbar" data-progress="{{ portfolioItem.progressBarBackEnd }}"></div>
                </div>
              </div>
              <div class="skill">
                <h5 class="skill-name">FrontEnd<span class="skill-perc">{{ portfolioItem.progressBarFrontEnd }}%</span></h5>
                <div class="progress">
                  <div class="progress-bar colored" role="progressbar" data-progress="{{ portfolioItem.progressBarFrontEnd }}"></div>
                </div>
              </div>
              <div class="skill">
                <h5 class="skill-name">Production<span class="skill-perc">{{ portfolioItem.progressBarProduction }}%</span></h5>
                <div class="progress">
                  <div class="progress-bar colored" role="progressbar" data-progress="{{ portfolioItem.progressBarProduction }}"></div>
                </div>
              </div>
                {% if portfolioItem.progressBarSEO > 0  %}
              <div class="skill">
                <h5 class="skill-name">SEO & Marketing<span class="skill-perc">{{ portfolioItem.progressBarSEO }}%</span></h5>
                <div class="progress">
                  <div class="progress-bar colored" role="progressbar" data-progress="{{ portfolioItem.progressBarSEO }}"></div>
                </div>
              </div>
                {% endif %}
            </div>
          </div>
        </div>
      </section>



      <section style="margin-bottom: 40px" class="grey-bg p-0">
        <div class="container">
          <div class="projects-controller portfolio-item-all-work">
            <!-- <a class="prev" href="#"><span><i class="hc-arrow-round-back"></i> Previous Project</span></a> -->
            <a class="btn btn-dark" style="color: white; cursor: pointer" href="{% url 'portfolio' %}">К другим кейсам</a>
            <!-- <a class="next" href="#"><span>Next Project<i class="hc-arrow-round-forward"></i></span></a> -->
          </div>
        </div>
      </section>

{% endblock %}