{% extends 'basic.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
    <section class="page-title parallax-section portfolio-item-head">
        <div class="row-parallax-bg">
            <div class="parallax-wrapper">
                <div class="parallax-bg">
                    <img src="{% static 'images/bg-image-49.jpg' %}" alt="">
                </div>
            </div>
            <div class="parallax-overlay"></div>
        </div>
        <div class="centrize">
            <div class="v-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="title text-center">
                                <h1>название кейса</h1>
                                <h4>фильтр этого кейса</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class='all-our-works'>
        <div class='all-our-works-inner'>
            <div class='all-our-works-item'>
                <img src="{% static 'images/banknote.svg' %}">
                <p>Текст1</p>
                <p>Текст2</p>
            </div>
            <div class='all-our-works-item'>
                <img src="{% static 'images/banknote.svg' %}">
                <p>Текст1</p>
                <p>Текст2</p>
            </div>
            <div class='all-our-works-item'>
                <img src="{% static 'images/banknote.svg' %}">
                <p>Текст1</p>
                <p>Текст2</p>
            </div>
            <div class='all-our-works-item'>
                <img src="{% static 'images/banknote.svg' %}">
                <p>Текст1</p>
                <p>Текст2</p>
            </div>
            <div class='all-our-works-item'>
                <img src="{% static 'images/banknote.svg' %}">
                <p>Текст1</p>
                <p>Текст2</p>
            </div>
            <div class='all-our-works-item'>
                <img src="{% static 'images/banknote.svg' %}">
                <p>Текст1</p>
                <p>Текст2</p>
            </div>

        </div>
        <section class="grey-bg">
            <div class="container">
                <div class="title text-center">
                    <h6>Icon Tabs</h6>
                </div>
                <div class="row pt-25 pb-25">
                    <div class="col-md-8 col-md-offset-2">
                        <ul class="nav nav-tabs icon-tabs center-tabs cols-4">
                            <li class="active"><a href="#tab-1" data-toggle="tab"><i class="hc-todo"></i><span>Prototyping</span></a>
                            </li>
                            <li><a href="#tab-2" data-toggle="tab"><i class="hc-brush"></i><span>Design</span></a>
                            </li>
                            <li><a href="#tab-3" data-toggle="tab"><i class="hc-server-cloud"></i><span>Development</span></a>
                            </li>
                            <li><a href="#tab-4" data-toggle="tab"><i class="hc-color-filter"></i><span>Marketing</span></a>
                            </li>
                        </ul>
                        <div class="tab-content text-center">
                            <div class="tab-pane fade active in" id="tab-1">
                                <p>Expedita minima fugiat ea maiores itaque natus animi officia iure deleniti unde, facilis velit optio! Culpa quis neque tempora deleniti assumenda aperiam. Ex reiciendis nobis qui laboriosam a sit accusantium vitae magni facilis eum possimus
                                    quaerat sed dolor, modi aut similique.</p>
                            </div>
                            <div class="tab-pane fade" id="tab-2">
                                <p>Itaque omnis tenetur placeat facere mollitia molestias, doloribus pariatur sapiente qui hic laboriosam aut accusamus repellat ab perspiciatis commodi voluptates corporis, consequatur! At consequatur, quos reiciendis accusamus aperiam
                                    ipsum ex autem odio possimus.</p>
                            </div>
                            <div class="tab-pane fade" id="tab-3">
                                <p>Eligendi dolorem repellat, officiis nobis. Itaque repudiandae, eligendi totam nihil aliquid, vitae quos cum minus nulla autem, in? Temporibus, accusantium. Laborum, asperiores. A dolores eaque, cupiditate eius quae expedita magni optio,
                                    at quaerat ipsa assumenda!</p>
                            </div>
                            <div class="tab-pane fade" id="tab-4">
                                <p>Veniam culpa doloremque hic deleniti eius architecto at corrupti ea fuga reprehenderit rem, recusandae quasi nisi, corporis, assumenda aliquam optio adipisci dolores. Necessitatibus nesciunt quidem ducimus in qui neque natus veritatis
                                    vero iure recusandae impedit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="title text-center">
                    <h6>Boxed - Animated</h6>
                </div>
                <div class="row pt-25 pb-25">
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box boxed-style">
                            <div class="animated-icon colored" data-icon="{% static 'images/icons/server.svg' %}"></div>
                            <div class="ib-content">
                                <h4>Private Equity</h4>
                                <p>Donec vestibulum velit a dolor volutpat ornare. Mauris in turpis est. Vivamus tempus lorem nec.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box boxed-style">
                            <div class="animated-icon colored" data-icon="{% static 'images/icons/cards-diamonds.svg' %}"></div>
                            <div class="ib-content">
                                <h4>Premium Consulting</h4>
                                <p>Donec vestibulum velit a dolor volutpat ornare. Mauris in turpis est. Vivamus tempus lorem nec.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box boxed-style">
                            <div class="animated-icon colored" data-icon="{% static 'images/icons/display.svg' %}"></div>
                            <div class="ib-content">
                                <h4>Targeted Sourcing</h4>
                                <p>Donec vestibulum velit a dolor volutpat ornare. Mauris in turpis est. Vivamus tempus lorem nec.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box boxed-style">
                            <div class="animated-icon colored" data-icon="{% static 'images/icons/graph-2.svg' %}"></div>
                            <div class="ib-content">
                                <h4>Growth Equity</h4>
                                <p>Donec vestibulum velit a dolor volutpat ornare. Mauris in turpis est. Vivamus tempus lorem nec.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="grey-bg" style="background-color: #060F1E !important;">
            <div class="container">
                <div class="title text-center">
                    <h6></h6>
                </div>
                <div class="row pt-25 pb-25">
                    <div class="col-md-12 ">
                        <ul class="nav nav-tabs boxed-tabs center-tabs cols-3">
                            <li class="active"><a href="#boxed-tab-1" data-toggle="tab"><span>Monday</span></a>
                            </li>
                            <li><a href="#boxed-tab-2" data-toggle="tab"><span>Wednesday</span></a>
                            </li>

                        </ul>
                        <div class="tab-content text-center">
                            <div class="tab-pane fade active in" id="boxed-tab-1">
                                <div class="section-content">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="pricing-table text-left">
                                                <div class="pricing-head">
                                                    <h4>Starter</h4>
                                                </div>
                                                <div class="price">
                                                    <h2><span>&#8381;</span>101010</h2>
                                                </div>
                                                <ul class="features nav">
                                                    <li><span>Unlimited Connections</span>
                                                    </li>
                                                    <li><span>24/7 Support</span>
                                                    </li>
                                                    <li><span>Full SSL Protection</span>
                                                    </li>
                                                    <li><span>Unlimited Channels</span>
                                                    </li>
                                                </ul>
                                                <div class="pricing-footer"><a class="btn btn-dark btn-sm no-radius" href="#">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="pricing-table text-left">
                                                <div class="pricing-head">
                                                    <h4>Silver</h4>
                                                </div>
                                                <div class="price">
                                                    <h2><span>&#8381;</span>101010</h2>
                                                </div>
                                                <ul class="features nav">
                                                    <li><span>Unlimited Connections</span>
                                                    </li>
                                                    <li><span>24/7 Support</span>
                                                    </li>
                                                    <li><span>Full SSL Protection</span>
                                                    </li>
                                                    <li><span>Unlimited Channels</span>
                                                    </li>
                                                </ul>
                                                <div class="pricing-footer"><a class="btn btn-dark btn-sm no-radius" href="#">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="pricing-table text-left">
                                                <!-- <span class="featured-label">Best Value</span> -->
                                                <div class="pricing-head">
                                                    <h4>Gold</h4>
                                                </div>
                                                <div class="price">
                                                    <h2><span>&#8381;</span>101010</h2>
                                                </div>
                                                <ul class="features nav">
                                                    <li><span>Unlimited Connections</span>
                                                    </li>
                                                    <li><span>24/7 Support</span>
                                                    </li>
                                                    <li><span>Full SSL Protection</span>
                                                    </li>
                                                    <li><span>Unlimited Channels</span>
                                                    </li>
                                                </ul>
                                                <div class="pricing-footer"><a class="btn btn-dark btn-sm no-radius" href="#">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="pricing-table text-left">
                                                <div class="pricing-head">
                                                    <h4>Platinum</h4>
                                                </div>
                                                <div class="price">
                                                    <h2><span>&#8381;</span>101010</h2>
                                                </div>
                                                <ul class="features nav">
                                                    <li><span>Unlimited Connections</span>
                                                    </li>
                                                    <li><span>24/7 Support</span>
                                                    </li>
                                                    <li><span>Full SSL Protection</span>
                                                    </li>
                                                    <li><span>Unlimited Channels</span>
                                                    </li>
                                                </ul>
                                                <div class="pricing-footer"><a class="btn btn-dark btn-sm no-radius" href="#">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><!--//tab1-->
                            <div class="tab-pane fade" id="boxed-tab-2">
                                <div class="section-content">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="pricing-table text-left">
                                                <div class="pricing-head">
                                                    <h4>Starter</h4>
                                                </div>
                                                <div class="price">
                                                    <h2><span>&#8381;</span>101010</h2>
                                                </div>
                                                <ul class="features nav">
                                                    <li><span>Unlimited Connections</span>
                                                    </li>
                                                    <li><span>24/7 Support</span>
                                                    </li>
                                                    <li><span>Full SSL Protection</span>
                                                    </li>
                                                    <li><span>Unlimited Channels</span>
                                                    </li>
                                                </ul>
                                                <div class="pricing-footer"><a class="btn btn-dark btn-sm no-radius" href="#">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="pricing-table text-left">
                                                <div class="pricing-head">
                                                    <h4>Silver</h4>
                                                </div>
                                                <div class="price">
                                                    <h2><span>&#8381;</span>101010</h2>
                                                </div>
                                                <ul class="features nav">
                                                    <li><span>Unlimited Connections</span>
                                                    </li>
                                                    <li><span>24/7 Support</span>
                                                    </li>
                                                    <li><span>Full SSL Protection</span>
                                                    </li>
                                                    <li><span>Unlimited Channels</span>
                                                    </li>
                                                </ul>
                                                <div class="pricing-footer"><a class="btn btn-dark btn-sm no-radius" href="#">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="pricing-table text-left">
                                                <!-- <span class="featured-label">Best Value</span> -->
                                                <div class="pricing-head">
                                                    <h4>Gold</h4>
                                                </div>
                                                <div class="price">
                                                    <h2><span>&#8381;</span>101010</h2>
                                                </div>
                                                <ul class="features nav">
                                                    <li><span>Unlimited Connections</span>
                                                    </li>
                                                    <li><span>24/7 Support</span>
                                                    </li>
                                                    <li><span>Full SSL Protection</span>
                                                    </li>
                                                    <li><span>Unlimited Channels</span>
                                                    </li>
                                                </ul>
                                                <div class="pricing-footer"><a class="btn btn-dark btn-sm no-radius" href="#">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="pricing-table text-left">
                                                <div class="pricing-head">
                                                    <h4>Platinum</h4>
                                                </div>
                                                <div class="price">
                                                    <h2><span>&#8381;</span>101010</h2>
                                                </div>
                                                <ul class="features nav">
                                                    <li><span>Unlimited Connections</span>
                                                    </li>
                                                    <li><span>24/7 Support</span>
                                                    </li>
                                                    <li><span>Full SSL Protection</span>
                                                    </li>
                                                    <li><span>Unlimited Channels</span>
                                                    </li>
                                                </ul>
                                                <div class="pricing-footer"><a class="btn btn-dark btn-sm no-radius" href="#">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'pages/callback_form.html' %}
{% endblock %}