{% load static %}
      <footer id="footer">
        <div class="footer-copy">
          <div class="container">
            <div class="footer-copy-inner">
              <div style="display: flex; align-items: center" >
                  <img style="width: 40px; margin-right: 10px" src="{% static 'images/logo-white.svg' %}" alt="">
                  <span style="color: #ffffff" class='logo-text'>wEbtOUCh</span>
              </div>
              <div >
                <div class="copy-text">
                  <p>© 2019 All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>