{% load static %}
 <nav id="navbar">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="logo">
              <a href="/">
                <span  class='logo-text'>wEbtOUCh</span>
              </a>
            </div>
            <div class="menu-extras">

              <div class="menu-item">
                <div class="nav-toggle">
                  <a class="menu-toggle" href="#">
                    <div class="hamburger">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div id="navigation">
              <ul class="navigation-menu nav">
                <li class="menu-item">
                  <a href="/">Главная</a></li>
                <li class="menu-item-has-children"><a href="#">Услуги</a>
                  <ul class="submenu">
                    <li>
                      <a href="{% url 'createlanding' %}">Создание сайтов</a>
                    </li>
                    <li>
                      <a href="{% url 'createlanding' %}">Услуга 2</a>
                    </li>
                    <li>
                      <a href="{% url 'createlanding' %}">Услуга 3</a>
                    </li>
                    <li>
                      <a href="{% url 'createlanding' %}">Услуга 4</a>
                    </li>

                  </ul>
                </li>
                <li class="menu-item"><a href="{% url 'portfolio' %}">Кейсы</a></li>
                <li class="menu-item"><a href="{% url 'about' %}">О нас</a></li>
                <li class="menu-item"><a href="{% url 'contacts' %}">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>